@page
@model DVConsistPlanner.Pages.Jobs.EditJobModel
@{
    ViewData["Title"] = "Edit Job";
}
<head>
    <link rel="stylesheet" href="~/css/tables.css" />
</head>

<h1>Edit Job</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            @* without this, updating breaks *@
            <input type="hidden" asp-for="Job.ID" class="form-control" />
            <input type="hidden" asp-for="Job.ConsistID" class="form-control" />
            
            <div class="form-group">
                <label asp-for="Job.JobNumber" class="control-label"></label>
                <input asp-for="Job.JobNumber" class="form-control" />
                <span asp-validation-for="Job.JobNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Departing" class="control-label">Departing Station</label>
                <select asp-for="DepartingStationAbbrev" asp-items="Model.StationList"></select>
                <span asp-validation-for="Job.Departing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Arriving" class="control-label">Arriving Station</label>
                <select asp-for="ArrivingStationAbbrev" asp-items="Model.StationList"></select>
                <span asp-validation-for="Job.Arriving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.JobType" class="control-label">Job Type</label>
                <select asp-for="Job.JobType" asp-items="Html.GetEnumSelectList<Models.JobType>()"></select>
                <span asp-validation-for="Job.JobType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Payout" class="control-label"></label>
                <input asp-for="Job.Payout" class="form-control" />
                <span asp-validation-for="Job.Payout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.TrainValue" class="control-label"></label>
                <input asp-for="Job.TrainValue" class="form-control" />
                <span asp-validation-for="Job.TrainValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.TrainMass" class="control-label"></label>
                <input asp-for="Job.TrainMass" class="form-control" />
                <span asp-validation-for="Job.TrainMass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.TrainLength" class="control-label"></label>
                <input asp-for="Job.TrainLength" class="form-control" />
                <span asp-validation-for="Job.TrainLength" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/ConsistManager" asp-route-id="@Model.Job.ConsistID">Back to List</a>
</div>
